target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

## application.properties ##
*.properties
.idea/intellij-javadocs-4.0.1.xml
.idea/artifacts/demo.xml
out/artifacts/demo/apiguardian-api-1.1.2.jar
out/artifacts/demo/commons-logging-1.2.jar
out/artifacts/demo/controlsfx-11.1.2.jar
out/artifacts/demo/demo.html
out/artifacts/demo/demo.jar
out/artifacts/demo/demo.jnlp
out/artifacts/demo/fontbox-2.0.29.jar
out/artifacts/demo/grizzly-framework-2.4.4.jar
out/artifacts/demo/grizzly-http-2.4.4.jar
out/artifacts/demo/grizzly-http-server-2.4.4.jar
out/artifacts/demo/jackson-annotations-2.13.3.jar
out/artifacts/demo/jackson-core-2.13.3.jar
out/artifacts/demo/jackson-databind-2.13.3.jar
out/artifacts/demo/jai-imageio-core-1.4.0.jar
out/artifacts/demo/jai-imageio-jpeg2000-1.3.0.jar
out/artifacts/demo/jakarta.websocket-api-1.1.1.jar
out/artifacts/demo/javafx-base-17.0.6-mac-aarch64.jar
out/artifacts/demo/javafx-base-17.0.6.jar
out/artifacts/demo/javafx-controls-17.0.6-mac-aarch64.jar
out/artifacts/demo/javafx-controls-17.0.6.jar
out/artifacts/demo/javafx-fxml-17.0.6-mac-aarch64.jar
out/artifacts/demo/javafx-fxml-17.0.6.jar
out/artifacts/demo/javafx-graphics-17.0.6-mac-aarch64.jar
out/artifacts/demo/javafx-graphics-17.0.6.jar
out/artifacts/demo/javafx-swing-17.0.6-mac-aarch64.jar
out/artifacts/demo/javafx-swing-17.0.6.jar
out/artifacts/demo/javax.websocket-api-1.1.jar
out/artifacts/demo/jbig2-imageio-3.0.3.jar
out/artifacts/demo/junit-jupiter-api-5.9.2.jar
out/artifacts/demo/junit-jupiter-engine-5.9.2.jar
out/artifacts/demo/junit-platform-commons-1.9.2.jar
out/artifacts/demo/junit-platform-engine-1.9.2.jar
out/artifacts/demo/opentest4j-1.2.0.jar
out/artifacts/demo/pdfbox-2.0.29.jar
out/artifacts/demo/scenicview.jar
out/artifacts/demo/spring-aop-5.3.18.jar
out/artifacts/demo/spring-beans-5.3.18.jar
out/artifacts/demo/spring-context-5.3.18.jar
out/artifacts/demo/spring-core-5.3.18.jar
out/artifacts/demo/spring-expression-5.3.18.jar
out/artifacts/demo/spring-jcl-5.3.18.jar
out/artifacts/demo/spring-messaging-5.3.18.jar
out/artifacts/demo/spring-tx-5.3.18.jar
out/artifacts/demo/spring-web-5.3.18.jar
out/artifacts/demo/spring-websocket-5.3.18.jar
out/artifacts/demo/tyrus-client-1.15.jar
out/artifacts/demo/tyrus-container-grizzly-client-1.15.jar
out/artifacts/demo/tyrus-core-1.15.jar
out/artifacts/demo/tyrus-spi-1.15.jar
out/artifacts/jlink/demo.jar
src/main/resources/meetingSlides/
