.main-window {
    -fx-background: rgb(83,86,89);
}

#pdf-viewer .scroll-pane {
    -fx-background: rgb(83,86,89);
    -fx-background-color: rgb(83,86,89);
}

#pdf-viewer .scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

#pdf-viewer .increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#pdf-viewer .scroll-bar:horizontal .track,
#pdf-viewer .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

#pdf-viewer .scroll-bar:horizontal .thumb,
#pdf-viewer .scroll-bar:vertical .thumb {
    -fx-background-color: rgb(51,54,57);
    -fx-background-radius: 5em;
}

#pdf-viewer .scroll-pane > .corner {
    -fx-background-color: rgb(83,86,89);
}

#pdf-viewer-toolbar {
    -fx-background-color: rgb(51,54,57);
    -fx-spacing: 10px;
}

#pdf-viewer-toolbar .label {
    -fx-text-fill: white;
    -fx-font-size : 10pt;
}

#pdf-viewer-toolbar .button {
    -fx-background-color: rgb(83,86,89);
}

#pdf-viewer-toolbar .button:hover {
    -fx-background-color: rgb(93,96,99);
    -fx-cursor: hand;
}

#pdf-page {
    -fx-background-color: rgb(83,86,89);
}

.selected-tool-button {
    -fx-background-color: rgb(83,86,89);
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}

.meeting-top-bar {
    -fx-background-color: #262627;
    -fx-text-fill: white;
    -fx-spacing: 10px;
}

.meeting-timer {
    -fx-text-fill: white;
    -fx-font-size : 15pt;
}

.leave-button {
    -fx-background-color : rgb(193,66,63);
    -fx-text-fill : white;
    -fx-font-size : 13pt;
}

.meeting-top-bar .leave-button:hover {
    -fx-background-color: rgb(108,36,35);
    -fx-cursor: hand;
}

.take-control-button {
    -fx-background-color: rgb(83,86,89);
    -fx-text-fill : white;
    -fx-font-size : 13pt;
}

.meeting-top-bar .take-control-button:hover {
    -fx-background-color: rgb(93,96,99);
    -fx-cursor: hand;
}

.request-control-button {
    -fx-background-color: rgb(83,86,89);
    -fx-text-fill : white;
    -fx-font-size : 13pt;
}

.meeting-top-bar .request-control-button:hover {
    -fx-background-color: rgb(93,96,99);
    -fx-cursor: hand;
}

.participant-button {
    -fx-background-color: rgb(83,86,89);
}

.meeting-top-bar .participant-button:hover {
    -fx-background-color: rgb(93,96,99);
    -fx-cursor: hand;
}

.side-participant-tab {
    -fx-background-color: #262627;;
    -fx-text-fill: white;
    -fx-font-size : 13pt;
}

.side-participant-tab-title {
    -fx-text-fill: white;
    -fx-font-size : 13pt;
}

.participant-tab-scroll {
    -fx-background-color: #262627;
}

.participant-component {
    -fx-padding-left : 20px;
    -fx-padding-right : 20px;
    -fx-background-color: #262627;
}

.participant-component:hover {
    -fx-background-color : #202020;
}

.participant-component-hand-button {
    -fx-background-color : transparent;
}

.participant-component-hand-button:hover {
    -fx-cursor: hand;
}

#login-screen {
    -fx-background-color: #262627;

}

#login-screen #login-logo {
    -fx-text-fill: white;
    -fx-font-size : 30pt;
    -fx-font-family:"Source Code Pro"
}

#login-screen .label {
    -fx-text-fill: white;
    -fx-font-size : 10pt;
    -fx-font-family:"Source Code Pro"
}

#login-screen .button {
    -fx-background-color: rgb(83,86,89);
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-text-fill: white;
}

#login-screen .button:hover {
    -fx-cursor: hand;
    -fx-background-color: rgb(93,96,99);
}

#login-screen .text-field {
    -fx-focus-color: rgb(83,86,89);
}

#sessionIDAlert {
    -fx-background-color: rgb(51,54,57);
}

#sessionIDAlert .label {
    -fx-text-fill: white;
    -fx-font-size : 12pt;
}

#sessionIDAlert .text-field {
    -fx-text-fill: white;
    -fx-background-color: rgb(51,54,57);
    -fx-focus-color: rgb(51,54,57);
}

